<%- include('partials/header') %>
<main>
  <h1><%= title %></h1>
  <p>Andrew Jeppesen</p>
  <p>I'm a software engineering major from Idaho Falls, ID.</p>
  <p>
    My hobbies include playing instruments such as the Guitar and Piano, and I
    also write music in my spare time
  </p>
  <img src="/images/me.jpg" alt="Me :)" />
</main>
<%- include('partials/footer') %>
