<%- include('partials/header') %>
<main>
  <h1><%= title %></h1>
  <div class="about-me">
  <div class="about-text">
    <h2>Andrew Jeppesen</h2>
    <p>I'm a software engineering major from Idaho Falls, ID.</p>
    <p>
      My hobbies include playing instruments such as the Guitar and Piano, and I
      also write music in my spare time.
    </p>
  </div>
  <img src="/images/me.jpg" alt="Me :)" />
  </div>
</main>
<%- include('partials/footer') %>
